In [114]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import time

In [115]:
data = pd.read_csv("/Users/julia/Desktop/venv/NannaGift_transactionCode.csv")

In [116]:
data.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [117]:
data['Insulin'] = data['Insulin'].replace(0, pd.NaT)

# Calculate the average of non-NaN values
average_value = data['Insulin'].mean()

# Replace NaN values with the calculated average
data['Insulin'].fillna(average_value, inplace=True)

data['SkinThickness'] = data['SkinThickness'].replace(0, pd.NaT)
average_valueS = data['SkinThickness'].mean()
data['SkinThickness'].fillna(average_valueS, inplace=True)

data['BloodPressure'] = data['BloodPressure'].replace(0, pd.NaT)
average_valueB = data['BloodPressure'].mean()
data['BloodPressure'].fillna(average_valueB, inplace=True)

In [118]:
data.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.208522,0.082989,0.056027,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.217728,0.182455,0.407699,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.208522,0.217728,1.000000,0.192816,0.072517,0.233123,-0.002763,0.324595,0.166074
SkinThickness,0.082989,0.182455,0.192816,1.000000,0.158139,0.480496,0.100966,0.127872,0.215299
Insulin,0.056027,0.407699,0.072517,0.158139,1.000000,0.149468,0.098634,0.136734,0.214411
BMI,0.017683,0.221071,0.233123,0.480496,0.149468,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,-0.002763,0.100966,0.098634,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.324595,0.127872,0.136734,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.166074,0.215299,0.214411,0.292695,0.173844,0.238356,1.000000

In [119]:
data['Distance'] = None
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Distance
0,6,148,72.0,35.00000,155.548223,33.6,0.627,50,1,None
1,1,85,66.0,29.00000,155.548223,26.6,0.351,31,0,None
2,8,183,64.0,29.15342,155.548223,23.3,0.672,32,1,None
3,1,89,66.0,23.00000,94.000000,28.1,0.167,21,0,None
4,0,137,40.0,35.00000,168.000000,43.1,2.288,33,1,None
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48.00000,180.000000,32.9,0.171,63,0,None
764,2,122,70.0,27.00000,155.548223,36.8,0.340,27,0,None
765,5,121,72.0,23.00000,112.000000,26.2,0.245,30,0,None
766,1,126,60.0,29.15342,155.548223,30.1,0.349,47,1,None
767,1,93,70.0,31.00000,155.548223,30.4,0.315,23,0,None

In [120]:
new_data2 = data.drop('Outcome',axis=1)

In [121]:
X = new_data2

In [122]:
y = data.iloc[:, -2]

In [123]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [124]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [125]:
len(X_train)

614

In [126]:
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Distance
663,9,145,80.0,46.00000,130.000000,37.9,0.637,40,None
712,10,129,62.0,36.00000,155.548223,41.2,0.441,38,None
161,7,102,74.0,40.00000,105.000000,37.2,0.204,45,None
509,8,120,78.0,29.15342,155.548223,25.0,0.409,64,None
305,2,120,76.0,37.00000,105.000000,39.7,0.215,29,None
...,...,...,...,...,...,...,...,...,...
645,2,157,74.0,35.00000,440.000000,39.4,0.134,30,None
715,7,187,50.0,33.00000,392.000000,33.9,0.826,34,None
72,13,126,90.0,29.15342,155.548223,43.4,0.583,42,None
235,4,171,72.0,29.15342,155.548223,43.6,0.479,26,None
37,9,102,76.0,37.00000,155.548223,32.9,0.665,46,None

In [127]:
# HLKNN takes K as 7
k = 7

In [128]:
len(X_test)

154

In [129]:
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Distance
285,7,136,74.000000,26.00000,135.000000,26.0,0.647,51,None
101,1,151,60.000000,29.15342,155.548223,26.1,0.179,22,None
581,6,109,60.000000,27.00000,155.548223,25.0,0.206,27,None
352,3,61,82.000000,28.00000,155.548223,34.4,0.243,46,None
726,1,116,78.000000,29.00000,180.000000,36.1,0.496,25,None
...,...,...,...,...,...,...,...,...,...
563,6,99,60.000000,19.00000,54.000000,26.9,0.497,32,None
318,3,115,66.000000,39.00000,140.000000,38.1,0.150,28,None
154,8,188,78.000000,29.15342,155.548223,47.9,0.137,43,None
684,5,136,82.000000,29.15342,155.548223,0.0,0.640,69,None
643,4,90,72.405184,29.15342,155.548223,28.0,0.610,31,None

In [130]:
#This method calculates the Euclidean distance between the test sample and each of the training data and 
#returns a list of all the distances calculated for the test sample
def calculate_euclidean_distance(training_features, test_features):
    dist_list = []
    for i in range(0,len(training_features)):
        #Not including the Distance column
        tf = training_features.iloc[i,:-1]
        dist = np.sqrt(np.sum(np.square(test_features - tf)))
        dist_list.append(dist)   
    return dist_list

In [131]:
#This function calculates the number of occurences of each of the k-nearest neighbors class and 
#retruns the class value that has maximum occurence
def calculate_occurence_of_eachclass(knearest_neighbors_class_list):
    count_per_inner_list = [inner_list.count(0) for inner_list in knearest_neighbors_class_list]
    total_count0 = sum(count_per_inner_list)
    count_per_inner_list = [inner_list.count(1) for inner_list in knearest_neighbors_class_list]
    total_count1 = sum(count_per_inner_list)
    
    if total_count1 > total_count0:
        return 1
    elif total_count0 > total_count1:
        return 0
    else:
        return 1

In [132]:
#This function is the main algorithm which is an improved version2 of HL-KNN algorithm. Takes the training data, test
#data and predicts the class of the given test data.
#More description detailed in the report
def high_level_knn_modified (X_train,X_test,y_train):
    dist_arr_lowlevel = []
    predict_arr = []
    dist_arr_highlevel = []
    lowlevel_neighbors_class = []
    highlevel_neighbors_class = []
    predicted_testdata = pd.DataFrame()
    for i in range(0,len(X_test)):
        test = X_test.iloc[i,:-1]
        dist_arr_lowlevel = calculate_euclidean_distance(X_train, test)
        X_train['Distance']= dist_arr_lowlevel
        X_train['Outcome']= y_train
        df = pd.DataFrame(X_train)
        df_sorted = df.sort_values(by='Distance')
        df_top7 = df_sorted.head(7)
        lowlevel_neighbors_class.append(df_top7['Outcome'].tolist())
        #total1_count gets the class value which is majority in the low-level neighborhood
        total1_count = calculate_occurence_of_eachclass(lowlevel_neighbors_class)
        #Version 2 implementation is here. new_df is only those that have majority class in low-level neighborhood
        new_df = df_top7[df_top7['Outcome'] == total1_count].copy()
        
        X_train = X_train.drop('Outcome',axis=1)
        if all(x == 1 for x in lowlevel_neighbors_class):
            predict_arr.append(1) 
        elif all(x == 0 for x in lowlevel_neighbors_class):
            predict_arr.append(0)
        else:
            for j in range(0,len(new_df)):
                top7 = new_df.iloc[j,:-1]
                dist_arr_highlevel = calculate_euclidean_distance(X_train, top7)
                X_train['Distance']= dist_arr_highlevel
                X_train['Outcome']= y_train
                df1 = pd.DataFrame(X_train)
                df1_sorted = df1.sort_values(by='Distance')
                df1_top7 = df1_sorted.head(7)
                highlevel_neighbors_class.append(df1_top7['Outcome'].tolist())
                X_train = X_train.drop('Outcome',axis=1)
            total_count = calculate_occurence_of_eachclass(highlevel_neighbors_class)
            predict_arr.append(total_count)
            lowlevel_neighbors_class.clear()
            highlevel_neighbors_class.clear()    
    predicted_testdata['Pregnancies'] = X_test['Pregnancies']
    predicted_testdata['Glucose'] = X_test['Glucose']
    predicted_testdata['BloodPressure'] = X_test['BloodPressure']
    predicted_testdata['SkinThickness'] = X_test['SkinThickness']
    predicted_testdata['Insulin'] = X_test['Insulin']
    predicted_testdata['BMI'] = X_test['BMI']
    predicted_testdata['Age'] = X_test['Age']
    predicted_testdata['Outcome'] = predict_arr

    return predicted_testdata

In [140]:
#This function calculates the accuracy of the predicted data by dividing the correctly predicetd data over total
#number of test samples multiplied by 100
def efficiency_test (predicted_testdata, X_test):
    counter = 0
    for i in range (0,len(X_test)):
        if X_test.iloc[i,9] == predicted_test.iloc[i,7]:
            counter = counter +1
    percentage = (counter/len(X_test)) * 100
    return percentage

In [134]:
predicted_test = pd.DataFrame()
start_time = time.time()
predicted_test = high_level_knn_modified(X_train,X_test,y_train)
end_time = time.time()
predicted_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
285,7,136,74.000000,26.00000,135.000000,26.0,51,0
101,1,151,60.000000,29.15342,155.548223,26.1,22,1
581,6,109,60.000000,27.00000,155.548223,25.0,27,0
352,3,61,82.000000,28.00000,155.548223,34.4,46,0
726,1,116,78.000000,29.00000,180.000000,36.1,25,0
...,...,...,...,...,...,...,...,...
563,6,99,60.000000,19.00000,54.000000,26.9,32,0
318,3,115,66.000000,39.00000,140.000000,38.1,28,0
154,8,188,78.000000,29.15342,155.548223,47.9,43,1
684,5,136,82.000000,29.15342,155.548223,0.0,69,0
643,4,90,72.405184,29.15342,155.548223,28.0,31,0

In [135]:
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time} seconds")
X_test ['Outcome'] = y_test

Time taken: 201.74447989463806 seconds

In [136]:
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Distance,Outcome
285,7,136,74.000000,26.00000,135.000000,26.0,0.647,51,None,0
101,1,151,60.000000,29.15342,155.548223,26.1,0.179,22,None,0
581,6,109,60.000000,27.00000,155.548223,25.0,0.206,27,None,0
352,3,61,82.000000,28.00000,155.548223,34.4,0.243,46,None,0
726,1,116,78.000000,29.00000,180.000000,36.1,0.496,25,None,0
...,...,...,...,...,...,...,...,...,...,...
563,6,99,60.000000,19.00000,54.000000,26.9,0.497,32,None,0
318,3,115,66.000000,39.00000,140.000000,38.1,0.150,28,None,0
154,8,188,78.000000,29.15342,155.548223,47.9,0.137,43,None,1
684,5,136,82.000000,29.15342,155.548223,0.0,0.640,69,None,0
643,4,90,72.405184,29.15342,155.548223,28.0,0.610,31,None,0

In [141]:
match_percent = efficiency_test (predicted_test, X_test)

In [142]:
match_percent

74.67532467532467

In [59]:
new_user_data = pd.DataFrame()
new_user_data['Pregnancies'] = [1]
new_user_data['Glucose'] = [190]
new_user_data['BloodPressure'] = [90]
new_user_data['SkinThickness'] = [50]
new_user_data['Insulin'] = [100]
new_user_data['BMI'] = [30.9]
new_user_data['Age'] = [60]
new_user_data['Outcome'] = [1]

In [60]:
new_user_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,1,190,90,50,100,30.9,60,1

In [61]:
predicted_user_data = pd.DataFrame()
predicted_user_data = high_level_knn_modified(X_train,new_user_data,y_train)

In [88]:
predicted_user_data

   Pregnancies  Glucose  Insulin   BMI  Age  Outcome
0            1      190      100  30.9   60        1