In [64]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import time

In [65]:
data = pd.read_csv("/Users/julia/Desktop/venv/NannaGift_transactionCode.csv")

In [66]:
data.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [67]:
#Here we look for missing values and replace them with average of the non-zero values in that column 
data['Insulin'] = data['Insulin'].replace(0, pd.NaT)

# Calculate the average of non-NaN values
average_value = data['Insulin'].mean()

# Replace NaN values with the calculated average
data['Insulin'].fillna(average_value, inplace=True)

data['SkinThickness'] = data['SkinThickness'].replace(0, pd.NaT)
average_valueS = data['SkinThickness'].mean()
data['SkinThickness'].fillna(average_valueS, inplace=True)

data['BloodPressure'] = data['BloodPressure'].replace(0, pd.NaT)
average_valueB = data['BloodPressure'].mean()
data['BloodPressure'].fillna(average_valueB, inplace=True)

In [68]:
data.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.208522,0.082989,0.056027,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.217728,0.182455,0.407699,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.208522,0.217728,1.000000,0.192816,0.072517,0.233123,-0.002763,0.324595,0.166074
SkinThickness,0.082989,0.182455,0.192816,1.000000,0.158139,0.480496,0.100966,0.127872,0.215299
Insulin,0.056027,0.407699,0.072517,0.158139,1.000000,0.149468,0.098634,0.136734,0.214411
BMI,0.017683,0.221071,0.233123,0.480496,0.149468,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,-0.002763,0.100966,0.098634,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.324595,0.127872,0.136734,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.166074,0.215299,0.214411,0.292695,0.173844,0.238356,1.000000

In [69]:
data['Distance'] = None
data['UniqueID'] = range(1, len(data) + 1)
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Distance,UniqueID
0,6,148,72.0,35.00000,155.548223,33.6,0.627,50,1,None,1
1,1,85,66.0,29.00000,155.548223,26.6,0.351,31,0,None,2
2,8,183,64.0,29.15342,155.548223,23.3,0.672,32,1,None,3
3,1,89,66.0,23.00000,94.000000,28.1,0.167,21,0,None,4
4,0,137,40.0,35.00000,168.000000,43.1,2.288,33,1,None,5
...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48.00000,180.000000,32.9,0.171,63,0,None,764
764,2,122,70.0,27.00000,155.548223,36.8,0.340,27,0,None,765
765,5,121,72.0,23.00000,112.000000,26.2,0.245,30,0,None,766
766,1,126,60.0,29.15342,155.548223,30.1,0.349,47,1,None,767
767,1,93,70.0,31.00000,155.548223,30.4,0.315,23,0,None,768

In [70]:
new_data2 = data.drop('Outcome',axis=1)

In [71]:
X = new_data2

In [72]:
y = data.Outcome

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [74]:
len(X_train)

614

In [75]:
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Distance,UniqueID
663,9,145,80.0,46.00000,130.000000,37.9,0.637,40,None,664
712,10,129,62.0,36.00000,155.548223,41.2,0.441,38,None,713
161,7,102,74.0,40.00000,105.000000,37.2,0.204,45,None,162
509,8,120,78.0,29.15342,155.548223,25.0,0.409,64,None,510
305,2,120,76.0,37.00000,105.000000,39.7,0.215,29,None,306
...,...,...,...,...,...,...,...,...,...,...
645,2,157,74.0,35.00000,440.000000,39.4,0.134,30,None,646
715,7,187,50.0,33.00000,392.000000,33.9,0.826,34,None,716
72,13,126,90.0,29.15342,155.548223,43.4,0.583,42,None,73
235,4,171,72.0,29.15342,155.548223,43.6,0.479,26,None,236
37,9,102,76.0,37.00000,155.548223,32.9,0.665,46,None,38

In [76]:
# the regular KNN takes K as square root of the train data set length
len(X_train) ** 0.5

24.779023386727733

In [77]:
# HLKNN takes K as 7
k = 7

In [78]:
len(X_test)

154

In [79]:
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Distance,UniqueID
285,7,136,74.000000,26.00000,135.000000,26.0,0.647,51,None,286
101,1,151,60.000000,29.15342,155.548223,26.1,0.179,22,None,102
581,6,109,60.000000,27.00000,155.548223,25.0,0.206,27,None,582
352,3,61,82.000000,28.00000,155.548223,34.4,0.243,46,None,353
726,1,116,78.000000,29.00000,180.000000,36.1,0.496,25,None,727
...,...,...,...,...,...,...,...,...,...,...
563,6,99,60.000000,19.00000,54.000000,26.9,0.497,32,None,564
318,3,115,66.000000,39.00000,140.000000,38.1,0.150,28,None,319
154,8,188,78.000000,29.15342,155.548223,47.9,0.137,43,None,155
684,5,136,82.000000,29.15342,155.548223,0.0,0.640,69,None,685
643,4,90,72.405184,29.15342,155.548223,28.0,0.610,31,None,644

In [80]:
#This function calculates the euclidean distance between test row(passed as argument to the function) and each of the training rows. Returns the list of all distances for all the rows of training data.
def calculate_euclidean_distance(training_features, test_features):
    dist_arr = []
    for i in range(0,len(training_features)):
        tf = training_features.iloc[i,:-2]
        dist = np.sqrt(np.sum(np.square(test_features - tf)))
        dist_arr.append(dist)   
    return dist_arr

In [81]:
#This function is the main algorithm which implements Version1 of HL-KNN algorithm. Takes the training data, 
#test data and predicts the class of the given test data.
#More description detailed in the report
def high_level_knn_modified (X_train,X_test,y_train):
    dist_arr = []
    predict_arr = []
    dist_arr1 = []
    arr1 = []
    result = pd.DataFrame()
    result['Outcome'] = y_train
    predicted_testdata = pd.DataFrame()
    for i in range(0,len(X_test)):
        test = X_test.iloc[i,:-2]
        dist_arr = calculate_euclidean_distance(X_train, test)
        X_train['Distance']= dist_arr
        X_train['Outcome']= y_train
        df = pd.DataFrame(X_train)
        df_sorted = df.sort_values(by='Distance')
        df_top7 = df_sorted.head(7)
        arr1.append(df_top7['Outcome'].tolist())
        X_train = X_train.drop('Outcome',axis=1)
        if all(x == 1 for x in arr1):
            predict_arr.append(1) 
        elif all(x == 0 for x in arr1):
            predict_arr.append(0)
        else:
            for j in range(0,len(df_top7)):
                top7 = df_top7.iloc[j,:-2]
                dist_arr1 = calculate_euclidean_distance(X_train, top7)
                X_train['Distance']= dist_arr1
                X_train['Outcome']= y_train
                df1 = pd.DataFrame(X_train)
                df1_sorted = df1.sort_values(by='Distance')
                df1_top7 = df1_sorted.head(7)
                arr1.append(df1_top7['Outcome'].tolist())
                X_train = X_train.drop('Outcome',axis=1)
            
            count_per_inner_list = [inner_list.count(0) for inner_list in arr1]
            total_count0 = sum(count_per_inner_list)
            count_per_inner_list = [inner_list.count(1) for inner_list in arr1]
            total_count1 = sum(count_per_inner_list)     
            if total_count1 > total_count0:
                predict_arr.append(1)
            elif total_count0 > total_count1:
                predict_arr.append(0)
            else:
                predict_arr.append(1)
            arr1.clear()
    predicted_testdata['Pregnancies'] = X_test['Pregnancies']
    predicted_testdata['Glucose'] = X_test['Glucose']
    predicted_testdata['BloodPressure'] = X_test['BloodPressure']
    predicted_testdata['SkinThickness'] = X_test['SkinThickness']
    predicted_testdata['Insulin'] = X_test['Insulin']
    predicted_testdata['BMI'] = X_test['BMI']
    predicted_testdata['Age'] = X_test['Age']
    predicted_testdata['Outcome'] = predict_arr

    return predicted_testdata

In [82]:
def efficiency_test (predicted_testdata, X_test):
    counttt = 0
    for i in range (0,len(X_test)):
        if X_test.iloc[i,10] == predicted_test.iloc[i,7]:
            counttt = counttt +1
    percentage = (counttt/len(X_test)) * 100
    return percentage

In [83]:
predicted_test = pd.DataFrame()
start_time = time.time()
predicted_test = high_level_knn_modified(X_train,X_test,y_train)
end_time = time.time()
predicted_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
285,7,136,74.000000,26.00000,135.000000,26.0,51,0
101,1,151,60.000000,29.15342,155.548223,26.1,22,1
581,6,109,60.000000,27.00000,155.548223,25.0,27,0
352,3,61,82.000000,28.00000,155.548223,34.4,46,0
726,1,116,78.000000,29.00000,180.000000,36.1,25,0
...,...,...,...,...,...,...,...,...
563,6,99,60.000000,19.00000,54.000000,26.9,32,0
318,3,115,66.000000,39.00000,140.000000,38.1,28,0
154,8,188,78.000000,29.15342,155.548223,47.9,43,1
684,5,136,82.000000,29.15342,155.548223,0.0,69,0
643,4,90,72.405184,29.15342,155.548223,28.0,31,0

In [84]:
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time} seconds")
X_test ['Outcome'] = y_test

Time taken: 231.69658088684082 seconds

In [85]:
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Distance,UniqueID,Outcome
285,7,136,74.000000,26.00000,135.000000,26.0,0.647,51,None,286,0
101,1,151,60.000000,29.15342,155.548223,26.1,0.179,22,None,102,0
581,6,109,60.000000,27.00000,155.548223,25.0,0.206,27,None,582,0
352,3,61,82.000000,28.00000,155.548223,34.4,0.243,46,None,353,0
726,1,116,78.000000,29.00000,180.000000,36.1,0.496,25,None,727,0
...,...,...,...,...,...,...,...,...,...,...,...
563,6,99,60.000000,19.00000,54.000000,26.9,0.497,32,None,564,0
318,3,115,66.000000,39.00000,140.000000,38.1,0.150,28,None,319,0
154,8,188,78.000000,29.15342,155.548223,47.9,0.137,43,None,155,1
684,5,136,82.000000,29.15342,155.548223,0.0,0.640,69,None,685,0
643,4,90,72.405184,29.15342,155.548223,28.0,0.610,31,None,644,0

In [86]:
match_percent = efficiency_test (predicted_test, X_test)

In [87]:
match_percent

77.92207792207793

In [55]:
new_user_data = pd.DataFrame()
new_user_data['Pregnancies'] = [1]
new_user_data['Glucose'] = [190]
new_user_data['BloodPressure'] = [90]
new_user_data['SkinThickness'] = [50]
new_user_data['Insulin'] = [100]
new_user_data['BMI'] = [30.9]
new_user_data['Age'] = [60]
new_user_data['Outcome'] = [1]

In [56]:
new_user_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,1,190,90,50,100,30.9,60,1

In [59]:
predicted_user_data = pd.DataFrame()
predicted_user_data = func_one(X_train,new_user_data,y_train)

In [60]:
predicted_user_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,1,190,90,50,100,30.9,60,1